body{
  background-image:url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/upwk61914231-wikimedia-image.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=86cfed2f15fe9ea9cc22a133926152c1");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  color: white;

}

.flex{
  display: flex;
  justify-content: center;
}

/* ---------- Container for the orbiting circles animation ---------- */
#circle-orbit-container {
  position: relative;
  top: 250px;
  height: 300px;
  width: 300px;
}


#inner-orbit1 {
  position: absolute;
  top: 115px;
  left: 115px;
  width: 70px;
  height: 70px;
  border: 2px #85764e dashed;
  border-radius: 100%;
  -webkit-animation: spin-right 8s linear infinite;
  animation: spin-right 8s linear infinite;
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
.inner-orbit-cirlces1 {
  position: absolute;
  top: 57px;
  left: 5px;
}

/* ---------- Inner orbit - This is the circles closest to the central point ---------- */
#inner-orbit {
  position: absolute;
  top: 75px;
  left: 75px;
  width: 150px;
  height: 150px;
  border: 2px #77854e dashed;
  border-radius: 100%;
  -webkit-animation: spin-right 10s linear infinite;
  animation: spin-right 10s linear infinite;
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
.inner-orbit-cirlces {
  position: absolute;
  top: 25px;
  left: -6px;
}

/* ---------- Middle orbit - This is the circles second closest to the central point ---------- */
#middle-orbit {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 225px;
  height: 225px;
  border: 2px #54854e dashed;
  border-radius: 100%;
  -webkit-animation: spin-right 15s linear infinite;
  animation: spin-right 15s linear infinite;
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
.middle-orbit-cirlces {
  position: absolute;
  top: 10px;
  left: 17px;
}

/* ---------- Outer orbit - This is the circles furthest away from the central point ---------- */
#outer-orbit {
  position: absolute;
  top: 0;
  left: 0;
  width: 294px;
  height: 294px;
  border: 2px #4e8572 dashed;
  border-radius: 100%;
  -webkit-animation: spin-right 20s linear infinite;
  animation: spin-right 20s linear infinite;
}

/* ---------- Repeating styles for the outer orbiting circles ---------- */
.outer-orbit-cirlces {
  position: absolute;
  top: -17px;
  left: 125px;
}

#outer-orbit1 {
  position: absolute;
  top:-30px;
  left: -30px;
  width: 355px;
  height: 355px;
  border: 2px #4e6d85 dashed;
  border-radius: 100%;
  -webkit-animation: spin-right 23s linear infinite;
  animation: spin-right 23s linear infinite;
}
.outer-orbit-cirlces1 {
  position: absolute;
  top: -17px;
  left: 125px;
}

#outer-orbit2 {
  position: absolute;
  top:-57px;
  left: -57px;
  width: 410px;
  height: 410px;
  border: 2px #6a4e85 dashed;
  border-radius: 100%;
  -webkit-animation: spin-right 25s linear infinite;
  animation: spin-right 25s linear infinite;
}
.outer-orbit-cirlces2 {
  position: absolute;
  top: -25px;
  left: 125px;
}


/* ---------- Animation ---------- */
@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
